<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389467439912-b7i33rukdjm87creldmcvll641hjurhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389467439912-b7i33rukdjm87creldmcvll641hjurhq</string>
	<key>API_KEY</key>
	<string>AIzaSyBDDJ6VTVVyKaJaMpvTmzippbygoWUcNW4</string>
	<key>GCM_SENDER_ID</key>
	<string>389467439912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LeeHsss.LivePopUp</string>
	<key>PROJECT_ID</key>
	<string>livepopup-43e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>livepopup-43e3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389467439912:ios:1ad7efad27d190676b461d</string>
</dict>
</plist>